/* ---------------- Partie 1 ----------------*/

.anim1 {
    background: url(../img/arene.jpg) no-repeat;
    width: 1000px;
    height: 900px;
    background-size: cover;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.mage-corps {
    background: url(../img/corps_mage.png) center center no-repeat;
    min-height: 400px;
    background-size: contain;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
}

.bras-gauche {
    background: url(../img/bras_g.png) center center no-repeat;
    min-height: 110px;
    background-size: contain;
    position: absolute;
    top: 46.5%;
    right: 16%;
    left: 0;
    z-index: 3;
    animation: bras-g 7s cubic-bezier(0, 0.95, 0.71, 0.96) 0.02s 1 normal;
    transform-origin: 490px 25px;
}

.bras-droit {
    background: url(../img/bras-d.png) center center no-repeat;
    min-height: 110px;
    background-size: contain;
    position: absolute;
    top: 46.5%;
    right: 0;
    left: 11%;
    z-index: 3;
    animation: bras-d 7s cubic-bezier(0, 0.95, 0.71, 0.96) 0.02s 1 normal;
    transform-origin: 420px 60px;
}

.roche {
    background: url(../img/roche.png) center center no-repeat;
    min-height: 20px;
    background-size: contain;
    position: absolute;
    top: 64%;
    right: 0;
    left: 2%;
    z-index: 5;
    animation: tremble 7s 0.05s ease-in normal forwards;
}

.roche::before {
    content: '';
    display: block;
    background: url(../img/roche2.png) center center no-repeat;
    min-height: 10px;
    background-size: contain;
    position: absolute;
    top: 150%;
    right: 0;
    left: 5%;
    z-index: 5;
    animation: tremble 7s 0.05s ease-in normal forwards;
}

.roche::after {
    content: '';
    display: block;
    background: url(../img/roche2.png) center center no-repeat;
    min-height: 13px;
    background-size: contain;
    position: absolute;
    top: 89%;
    right: 0;
    left: -4%;
    z-index: 5;
    animation: tremble 7s 0.05s ease-in normal forwards;
} 

.r1 {
    top: 81%;
    right: 0;
    left: -39%;
    animation: tremble 7s 0.05s ease-in normal forwards;
} 

.r2 {
    top: 77%;
    right: 0;
    left: 29%;
    animation: tremble 7s 0.05s ease-in normal forwards;
} 

.r3 {
    top: 74%;
    right: 0;
    left: 46%;
    animation: tremble 7s 0.05s ease-in normal forwards;
} 

.r4 {
    top: 76%;
    right: 0;
    left: -59%;
    animation: tremble 7s 0.05s ease-in normal forwards;
} 

.r5 {
    top: 67%;
    right: 0;
    left: -34%;
    animation: tremble 7s 0.05s ease-in normal forwards;
} 

.r6 {
    top: 75%;
    right: 0;
    left: -23%;
    animation: tremble 7s 0.05s ease-in normal forwards;
} 

.r7 {
    top: 76%;
    right: 0;
    left: 44%;
    animation: tremble 7s 0.05s ease-in normal forwards;
} 

.r8 {
    top: 71%;
    right: 0;
    left: -24%;
    animation: tremble 7s 0.05s ease-in normal forwards;
} 

.r9 {
    top: 73%;
    right: 0;
    left: 16%;
    animation: tremble 7s 0.05s ease-in normal forwards;
} 

.r10 {
    top: 82%;
    right: 0;
    left: 4%;
    animation: tremble 7s 0.05s ease-in normal forwards;
} 

.r11 {
    top: 69%;
    right: 0;
    left: -26%;
    animation: tremble 7s 0.05s ease-in normal forwards;
} 

.new-roche {
    background: url(../img/roche2.png) center center no-repeat;
    min-height: 140px;
    background-size: contain;
    position: absolute;
    top: 36%;
    right: 0;
    left: 2%;
    z-index: 6;
    opacity: 0;
    animation: roche 1.3s 6s cubic-bezier(0.23, 0.68, 0.88, 1.15) forwards;
} 

/* ---------------- Partie 2 ----------------*/

.anim2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: url(../img/vs_fond.jpg) no-repeat;
    width: 1000px;
    height: 900px;
    background-size: cover;
    z-index: 1;
    overflow: hidden;
    animation: index 1s ease-in 5.8s 1 forwards;
}

.anim2 .fade {
    background: #000;
    width: 100%;
    height: 100%;
    animation: fade 2s 5.5s 1 ease-in forwards;   
}

.vs {
    position: absolute;
    top:20%;
    left: 42%;
    font-size: 8em;
    color: rgb(253, 165, 187);
    text-shadow: 2px 2px 10px rgb(182, 8, 80);
}

.war {
    background: url(../img/hache.png) center center no-repeat;
    min-height: 200px;
    background-size: contain;
    position: absolute;
    top: 4%;
    right: 0;
    left: -60%;
    z-index: 6;
    opacity: 1;
    transform: rotate(45deg);
    animation: zoom 0.5s ease-in-out infinite alternate;
}

.mage {
    background: url(../img/sceptre.png) center center no-repeat;
    min-height: 200px;
    background-size: contain;
    position: absolute;
    top: 4%;
    right: 0;
    left: 60%;
    z-index: 6;
    opacity: 1;
    transform: rotate(-45deg);
    animation: zoom 0.5s ease-in-out infinite alternate;
}

.mage-arrive {
    background: url(../img/mage.png) center center no-repeat;
    background-size: contain;
    height: 800px;
    position: absolute;
    bottom: -13%;
    right: -250%;
    left: 0;
    z-index: 6;
    opacity: 1;
    animation: arrive-droite 3s ease-in-out 6s 1 forwards;
}

.war-arrive {
    background: url(../img/war.png) center center no-repeat;
    background-size: contain;
    height: 600px;
    position: absolute;
    bottom: 0;
    right: 0%;
    left: -150%;
    z-index: 6;
    opacity: 1;
    animation: arrive-gauche 3s ease-in-out 6.5s 1 forwards;
}

.inbetween {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 1000px;
    height: 900px;
    z-index: 6;
    overflow: hidden;
}

.defilement {
    background: #000;  
    position: absolute;
    left: 100%;
    right: 0;
    top: 0;
    width: 1000px;
    height: 900px;
    z-index: 6;
    overflow: hidden;
    animation: defilement 1s ease-in-out 9s forwards;
}

/* ---------------- Partie 3 ----------------*/

.anim3 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: url(../img/ciel-etoile.jpg) no-repeat;
    width: 1000px;
    height: 900px;
    background-size: cover;
    z-index: 1;
    overflow: hidden;
    animation: index 1s cubic-bezier(1, 0.04, 1, 1) 8.5s 1 forwards;
    perspective-origin: 500px;
}

.personnage {
    background: url(../img/gagnant.png) center center no-repeat;
    min-height: 700px;
    background-size: contain;
    position: absolute;
    top: 8%;
    right: 0;
    left: 0;
    z-index: 6;
    opacity: 1;
    animation: disparition 6s ease-in-out 9s forwards;
}

.pos {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: -40%;
}

.congrat {
    opacity: 0;
    color: rgb(133, 200, 255);
    text-shadow: 1px 1px 10px rgb(253, 165, 187);
    font-size: 120px;
    animation: fadefin 1s ease-in-out 14.8s forwards;
    z-index: 1000;
    text-align: center;
    margin-top: 250px;
    line-height: 10rem;
}

/* ---------------- Animations ----------------*/


@keyframes tremble {
    from {  transform: translateX(6px) translateY(2px);
    } 0.5% { 
        transform: translateX(-4px);
    } 1% {
        transform: translateX(6px) translateY(2px);
    } 1.5% {
        transform: translateX(-4px);
    } 2% { 
        transform: translateX(6px) translateY(2px);
    } 2.5% {
        transform: translateX(-4px);
    } 3% { 
        transform: translateX(6px) translateY(2px);
    } 3.5% {
        transform: translateX(-4px);
    } 4% { 
        transform: translateX(6px) translateY(2px);
    } 4.5% {
        transform: translateX(-4px);
    } 5% { 
        transform: translateX(6px) translateY(2px);
    } 5.5% {
        transform: translateX(-4px);
    } 6% { 
        transform: translateX(6px) translateY(2px);
    } 6.5% {
        transform: translateX(-4px);
    } 7% { 
        transform: translateX(6px) translateY(2px);
    } 7.5% {
        transform: translateX(-4px);
    } 8% { 
        transform: translateX(6px) translateY(2px);
    } 8.5% {
        transform: translateX(-4px);
    } 9% { 
        transform: translateX(6px) translateY(2px);
    } 9.5% {
        transform: translateX(-4px);
    } 10% { 
        transform: translateX(6px) translateY(2px);
    } 10.5% {
        transform: translateX(-4px);
    } 11% { 
        transform: translateX(6px) translateY(2px);
    } 11.5% {
        transform: translateX(-4px);
    } 12% { 
        transform: translateX(6px) translateY(2px);
    } 12.5% {
        transform: translateX(-4px);
    } 20% {
        transform: scale(1.2) translateX(-3px) translateY(-50px);
    } 25% {
        transform: scale(0.8) translateY(-200px) rotateY(-200deg);
    } 84% {
        top: 40%;
        transform: scale(1.5) perspective(800px)  rotateY(19deg);
    } 95% {
        top: 45%;
        left: 0%;
        transform: scale(10) perspective(600px);
        opacity: 1;
    } 100% {
        opacity: 0;
    }
}

@keyframes bras-g {
    0% { 
        transform: rotateZ(-20deg) translateY(-10px);
    } 21% { 
        transform: rotateZ(0deg) translateY(10px);
    } 84% {
        transform: rotateZ(70deg) translateY(50px);
    } 100% {
        transform: rotateZ(-20deg) translateY(-10px);
    }
}

@keyframes bras-d {
    0% { 
        transform: rotateZ(20deg) translateX(-5px);
    } 21% { 
        transform: rotateZ(0deg) translateX(15px); 
    } 84% {
        transform: rotateZ(-70deg) translateX(40px);
    } 100% {
        transform: rotateZ(20deg) translateX(-5px);
    }
}

@keyframes roche {
    0% {
        opacity: 0;
    } 10% {
        opacity: 1;
    } 99% {
        opacity: 1;
        transform:  scale(25);
    } 100% {
        transform:  scale(25);
    }
}

@keyframes haut-bas {
    from { transform: translateY(20px);}
}

@keyframes fade {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

@keyframes fadefin {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes fade3 {
    0% {
        opacity: 0;
    } 50% {
        opacity: 1;
    } 100% {
        opacity: 0;
    } 
}


@keyframes index {
    from {
        z-index: 1;
    } to {
        z-index: 3;
    }
}

@keyframes zoom {
    from { min-height: 220px;}
}

@keyframes disparition {
    0% {
        opacity: 0;
    }
    3% {
        opacity: 1;
        min-height: 750px;
    } 79% {
        min-height: 710px;
        transform: translateY(10px);
    } 90% {
        min-height: 800px;
        transform: translateY(-30px);
    } 100% {
        min-height: 0px;
        transform: translateY(300px);
    } 
}

@keyframes arrive-gauche {
    0% { 
        left: -250%;
    } 25% {
        left: -55%;
    } 75% {
        left: -55%;
    }100% { 
        left: -250%;
    }
}

@keyframes arrive-droite {
    0% { 
        right: -250%;
    } 25% {
        right: -50%;
    } 
    85% {
        right: -50%;
    } 00% { 
        right: -250%;
    }
}

@keyframes defilement {
    from { 
        left: 100%;
    } to {
        left: -200%;
    }
}

/* ---------------- Medias ----------------*/

@media (max-width: 992px) {
    .el-left, 
    .el-right  {
        opacity: 0;
    }
  }