/* -------------------- Général  -------------------- */
* {
     box-sizing: border-box;
}

body {
     font-family: 'Titillium Web', sans-serif;
     font-size: 95%;
     padding: 2%;
     background: linear-gradient(to bottom, #fff, rgb(160, 205, 226));
     line-height: 1.3em;
     color: #0b0025;
}

h1, h2, h3,
h4, h5, h6 {
     margin: 0;
     padding: 0;
     color: #0b0025;
     font-family: 'Chelsea Market', cursive;
     line-height: 1.3em;
     text-align: center;
}

ul, ol {
     list-style: none;
}

a {
     text-decoration: none;
     color: #b08fec;
}

.conteneur {
     width: 80%;
     margin: auto;
     padding: 5%;
}

.flex {
     display: flex;
}

.btn:link,
.btn:visited {
     background: #0b0025;
     color: #af8fec;
     border-radius: 200px;
     display: inline-block;
     transition: all .3s;
     font-size: 1.5em;
     text-transform: uppercase;
     letter-spacing: 0.2em;
     margin: 2% 0;
     position: relative;
     cursor: pointer;
     text-align: center;
     padding: 3% 6%;
}

.btn::after {
     content: ' ';
     display: inline-block;
     width: 100%;
     height: 100%;
     border-radius: 200px;
     position: absolute;
     left: 0;
     top: 0;
     z-index: -1;
     transition: all .3s;
     background: #0b0025;
}

.btn:hover {
     transform: translateY(-0.5%);
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.btn:hover::after {
     transform: scale(1.5);
     opacity: 0;
}

.btn:active {
     transform: translateY(-0.2%);
     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

/* -------------------- Header  -------------------- */
.header-background {
     width: 100%;
     height: 30vh;
     background: url(../img/pixel.jpg) top no-repeat;
     background-size: cover;
     clip-path: polygon(0 0, 100% 0, 100% 15vh, 0 100%);
     position: relative;
}

.logo {
     height: 50%;
     background: url(../img/logo_500px.png) no-repeat center;
     background-size: contain;
     position: absolute;
     top: 15%;
     left: 0;
     right:  80%;
     opacity: .75;
}

.btn-menu:link,
.btn-menu:visited {
     background: #fff;
     border: 2px solid #0b0025;
     border-radius: 200px;
     padding: 4% 8%;
     transition: all .3s;
     font-size: 1.1em;
     font-weight: bold;
     text-transform: uppercase;
     cursor: pointer;
     position: absolute;
     top: 50%;
     left: 20%;
     transition: all 0.2s;
}

.btn-menu:hover {
     transform: translateY(-0.2%);
     box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.705);
     background: #af8fec31;
     border: 2px solid #af8fec;
}

.btn-menu:active {
     transform: translateY(-0.1%);
     box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.521);
     background: #af8fec80;
}

.sidebar {
     position: fixed;
     top: 0;
     right: -16.5rem;
     background: #0b0025;
     width: 15.5rem;
     height: 100vh;
     transition: .3s;
     z-index: 10;
}

.sidebarLogo {
     position: absolute;
     height: 20%;
     background: url(../img/logo_200px.png) center no-repeat;
     background-size: contain;
     left: 0;
     right: 0;
     bottom: 0;
     opacity: 0.35;
}

.activeBar {
     right: 0;
}

.sidebar ul {
     margin: 0;
     padding: 20px 0;
}

.sidebar ul li {
     height: 3.5%;
     width: 100%;
}

.sidebar ul li a {
     padding: 6% 12%;
     color: #fff;
     display: block;
     text-decoration: none;
     border-bottom: 3px solid rgba(224, 224, 224, 0.2);
     text-align: center;
     font-size: 1.2rem;
     letter-spacing: 1.5%;
     text-transform: uppercase;
     height: 10%;
     background: url(../img/fond-degrade.jpg) left top no-repeat;
}

.sidebarBtn {
     position: absolute;
     top: 5%;
     left: -50%;
     width: 25%;
     height: 6.5%;
     border-radius: 50%;
     cursor: pointer;
     background: transparent;
     border: none;
     outline: none;
     background: #0b0025;
}

.sidebarBtn span {
     display: block;
     width: 2.7rem;
     height: 0.25rem;
     background:#b08fec;
     position: absolute;
     top: 1.9rem;
     right: 0.6rem;
     transition: .3s;
}

.sidebarBtn span::before {
     content: ' ';
     position: absolute;
     top: -0.7rem;
     right: 0;
     width: 100%;    
     height: 0.25rem;
     background: #b08fec;
     transition: .3s;
}

.sidebarBtn span::after {
     content: ' ';
     position: absolute;
     top: 0.7rem;
     right: 0;
     width: 100%;    
     height: 0.25rem;
     background: #b08fec;
     transition: .3s;
}

.sidebarBtn.toggle span {
     background: transparent;
}

.sidebarBtn.toggle span::before {
     top: 0;
     transform: rotate(45deg);
}

.sidebarBtn.toggle span::after {
     top: 0;
     transform: rotate(-45deg);
}

/* ---------------- Mentions ----------------*/

.mention_content {
     display: none;
     margin: auto;
     padding: 10px;
     width: 100%;
     height: 60vh;
     text-align: justify;
     background-color: #b08fec;
     position: relative;
     padding: 0 15rem;
 }
 
 .mention_content h3 {
     font-size: 2.5em;
     text-align: center;
     margin: 20px;
     color: #0b0025;
     font-size: 1.6rem;
     letter-spacing: 0.25rem;
     text-transform: uppercase;
 }
 
 .mention_content a{
     color: #0b0025;
     font-weight: bold;
     transition: .3s;
     text-decoration: none;
 }
 
 .mention_content a:hover {
     text-decoration: underline;
     color: #fff;
 }
 
 .btn-anim {
     background: #0b0025;
     padding: 0.6em 1.2em;
     border-radius: 100px;
     border: transparent;
     color: #b08fec;
     font-size: 1.6em;
     font-weight: bold;
     cursor: pointer;
     transition: all 0.3s ease-in-out;
     margin: 15px 0 120px;
     font-size: 1.2rem;
     letter-spacing: 0.25rem;
     text-transform: uppercase;
     position: relative;
 }
 
 .btn-anim::after {
     content: ' ';
     display: inline-block;
     width: 100%;
     height: 100%;
     position: absolute;
     left: 0;
     top: 0;
     border-radius: 100px;
     z-index: -1;
     background: #0b0025;
     transition: all 0.3s ease-in-out;;
 }
 
 .btn-anim:hover::after {
     transform: scale(1.5);
     opacity: 0;
 }
 
 .btn-anim:hover {
     background: #4109c5;
 }
 
 .mention {
     text-align: center;
     position: relative;
 }
 
 .mention_detail {
     font-size: 2em;
     color: #4109c5;
     animation: haut-bas 1s ease-in-out infinite alternate;
     margin-bottom: 20px;
 }
 
 .mention_detail::after {
     content: '▼';
     display: block;
     font-size: 1em;
     color: #4109c5;
     margin-top: 20px;
 }
 
 .el-left {
     background: url(../img/pixel.jpg);
     width: 30rem; 
     height: 25vh;
     position: absolute;
     left: 0;
     top: 0;
     clip-path: polygon(0 0, 100% 0, 0 100%);
 }
 
 .el-right {
     background: url(../img/pixel.jpg);
     width: 30rem; 
     height: 25vh;
     position: absolute;
     right: 0;
     bottom: -9.4rem;
     clip-path: polygon(100% 0, 100% 100%, 0 100%);
     margin-bottom: 150px;
 }
 
 .container {
     position: absolute;
     top: 20%;
     right: 20%;
     width: 60vw;
 }


/* -------------------- Main  -------------------- */

.main-title {
     font-size: 3em;
     text-transform: uppercase;
     margin: 6%;
}

.section1 {
     width: 50%;
     margin: auto;
     min-height: 60vh;
     position: relative;
}

.anim {
     position: absolute;
     transform: scale(0.5);
     top: -40%;
     left: -5%;
 }

.losange {
     width: 100%;
     height: 60vh;
     background-image: linear-gradient(to right bottom, #0b0025, #405599);
     position: relative;
     clip-path: polygon(0 10vh, 100% 0, 100% 50vh, 0 100%);
     margin: 5% 0;
     transform: translateY(-6rem);
     margin-top: 10rem;
}

.losange h2 {
     color: #fff;
     font-size: 4rem;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translateX(-50%) translateY(-50%);
     display: block;
     line-height: 4rem;
     text-transform: uppercase;
     letter-spacing: 0.4rem;
     transition: 0.3s cubic-bezier(0.63,-0.55, 0.52, 2.12);
}

.losange h2:hover {
     transform: scale(1.5) translateX(-30%) translateY(-30%);
}

.section2 {
     background: rgb(160, 205, 226);
}

.message {
     background: #fff;
     padding: 3rem;
     border-radius: 200px 0 0;
     position: relative;
     margin: auto;
}

.star {
     background-color: #0b0025;
     width: 11rem;
     height: 11rem;
     position: absolute;
     top: -5%;
     left: 0;
     clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
     transition: all 0.5s ease-in-out;
}

.star:hover {
     transform: scale(1.5) rotate(-70deg) translateY(10px) translateX(10px);
}

.message h3 {
     font-size: 2rem;
     transition: 0.2s;
     margin: 3rem 0;
}

.message h3:hover {
     transform: scale(1.6) skew(20deg) rotate(-2deg);
     text-shadow: -3px 10px 15px rgba(0, 0, 0, 0.8);
}

.login h2,
.statistique h2 {
     font-size: 3rem;
     text-transform: uppercase;
     margin: 5rem;
}

.separation {
     width: 100%;
     height: 15vh;
     background: #fff;
     position: relative;
     box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
}

.separation h3 {
     font-size: 3rem;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translateX(-50%) translateY(-50%);
     transition: all 0.2s;
     line-height: normal;
}

.separation h3:hover {
     transform: scale(1.2) skew(5deg) rotate(-1deg) translateX(-45%) translateY(-50%);
     text-shadow: -3px 10px 15px rgba(0, 0, 0, 0.8);
}

.triangle {
     position: absolute;
     height: 100%;
     background: #0b0025e3;
     width: 15vw;
     left: 0;
     top: 0;
     clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.triangle::after {
     content: ' ';
     display: inline-block;
     position: absolute;
     height: 100%;
     width: 10vw;
     background: rgba(255, 255, 255, 0.603);
     z-index: 2;
     left: 0;
     top: 0;
     clip-path: polygon(0 0, 100% 50%, 0 100%);
}



/* -------------------- Footer  -------------------- */

.footer {
     height: 7rem;
     position: relative;
}

.footer span {
     position: absolute;
     left: 45%;
     top: 50%;
     transform: translate(-50% -50%);
     text-transform: uppercase;
     font-style: italic;
     font-size: 0.8rem;
     color: #0b0025;
}

/* --------------------  Messages  -------------------- */

.erreur {
     background: rgba(245, 201, 201, 0.836);
     font-weight:bold;
     color: rgb(253, 6, 6);
     padding: 5px;
     border: 1px solid rgba(58, 2, 2, 0.37);
     margin: 10px;
     border-radius: 5px;
     max-height: 50vh;
}

.erreur-login {
     position: absolute;
     bottom: 0;
     background: rgba(245, 201, 201, 0.836);
     font-weight:bold;
     color: rgb(253, 6, 6);
     padding: 5px;
     border: 1px solid rgba(58, 2, 2, 0.37);
     border-radius: 5px;
     width: 20%;
     left: 45%;
     transform: translateX(-50%);
     text-align: center;
}

.erreur div {
     margin-bottom: 1rem;
}

.erreur h3 {
     margin: 1rem 0 2rem ;
     font-size: 1.6rem;
     color: rgb(139, 0, 0);
     line-height: normal;
     z-index: 2;
}

.error-message {
     padding: 0 0 0 30px;
     color: #ff5b5b;
     display: none;
}

.success-login {
     position: absolute;
     bottom: 0;
     background: rgba(136, 241, 183, 0.836);
     font-weight:bold;
     color: rgb(2, 78, 6);
     padding: 5px;
     border: 1px solid rgba(0, 37, 2, 0.479);
     border-radius: 5px;
     width: 20%;
     left: 45%;
     transform: translateX(-50%);
     text-align: center;
}

.success-msg {
     position: absolute;
     top: 30%;
     left: 50%;
     background: rgba(136, 241, 183, 0.836);
     font-weight:bold;
     color: rgb(2, 78, 6);
     padding: 5px;
     border: 1px solid rgba(0, 37, 2, 0.479);
     border-radius: 5px;
     width: 20%;
     transform: translateX(-50%);
     text-align: center;
}

/* -------------------- Formulaire  -------------------- */

 .login {
      position: relative;
      width: 100%;
      height: 30vh;
 }

 .login-form {
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translateX(-50%);
 }

 .login-form .flex {
     justify-content: space-between;
 }

 .login-form input {
      margin: 0 2rem;
 }

.main-form {
     margin-top: 5rem;
     position: relative;
     width: 100%;
     height: 75vh;
     color: #af8fec5e;
}

.form-inscription {
     background: #0b0025e3;
     width: 60vw;
     height: 50vh;
     position: absolute;
     left: 50%;
     top: 25%;
     border-radius: 1rem;
     justify-content: flex-end;
     transform: translateX(-50%);
     box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.large {
     width: 14rem;
}

.input {
     border: none;
     width: 14em;
     margin: 0.3rem;
     padding:  0.4em;
     font-size: 1.1rem;
     background: #af8fec8e;
     color: rgba(255, 255, 255, 0.5);
}

.login .input {
     color: #0b0025;
}

input:focus {
     background: #af8fec4d;
     box-shadow: 1px 1px 3px #af8fec, -1px -1px 3px #af8fec;
}

.form {
     width: 40%;
     margin: 1rem 2rem;
}

.form label {
     margin: 0 0.8rem;
     text-transform: uppercase;
     font-size: 0.8rem;
     font-weight: bold;
}

.form .flex {
     flex-flow: column wrap;
}

.submit {
     background: #0b0025; 
     color: #b08fec;
     text-transform: uppercase;
     font-weight: 500;
     border: none;
     cursor: pointer;
     transition: 0.5s;
     width: 12em;
     height: 3em;
     border-radius: 15rem;
     transition: all 0.3s;
     margin-left: 60px;
}

.submit:hover {
     transform: translateY(-0.3rem);
     box-shadow: 0 7px 15px rgba(0, 0, 0, 0.3);
     background: #7033ff;
}

.submit:active {
     transform: translateY(-0.2rem);
     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
     background: #8654fa;
}

.form-submit {
     background: #b08fec; 
     color: #0b0025; 
     position: absolute;
     left: 40%;
     transform: translateX(-50%);
     bottom: 10%;
}

.form-submit:hover {
     transform: translateY(-0.3rem) translateX(-50%);
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.submit:hover::after,
.form-submit:hover::after {
     transform: scale(1.5);
     opacity: 0;
}

.statistique {
     background: linear-gradient(to top, #fff, rgb(160, 205, 226));
}


.color {
     width: 15rem;
     height: 15rem;
     cursor: pointer;
     filter: grayscale(100%);
     transition: all 0.2s ease-in-out;
     box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.color:hover {
     filter: grayscale(0);
}

.color img {
     width: 15rem;
     height: 15rem;
}

.details {
     position: relative;
     width: 40%;
     height: 15rem;
     background: #0b0025e0;
     text-align: center;
     transition: all .3s;
     color: #fff;
}

.stat-pos {
     font-weight: bold;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.stat-pos p {
     margin: 5px 0;
}

.stat-content {
     width: 100%;
}

.stat-line {
     margin-bottom: 2rem;
     justify-content: space-evenly;
}

.details h3 {
     font-size: 1.5rem;
     position: relative;
     color: #b08fec;
     text-transform: uppercase;
}

.details h3::before {
     content: '★';
     width: 10px;
     height: 10px;
     display: block;
     position: absolute;
     left: 5px;
     color: #af8fec8a;
}

.details h3::after {
     content: '★';
     width: 10px;
     height: 10px;
     display: block;
     position: absolute;
     right: 20px;
     top: 0;
     color: #8654faaf;
}

.section-profil {
     position: relative;
}

.profil {
     background: #fff;
     width: 70%;
     margin: 2rem auto;
}

.profil-content {
     justify-content: space-around;
     align-items: center;
     height: 60%;
     margin: 0;
}

.profil-detail {
     padding: 0.5rem 3rem;
     height: 50%;
     font-size: 1.1rem;
     font-weight: bold;
}

.image-profil {
     height: 70%;
}

.image-profil img {
     height: 70%;
     cursor: pointer;
     transition: all 0.3s;
}

.section-profil h3 {
     font-size: 1.3rem;
     text-transform: uppercase;
     letter-spacing: 0.2rem;
     line-height: normal;
     padding: 1rem;
}

.section-profil h2 {
     font-size: 2rem;
     text-transform: uppercase;
}

.img-choix,
.edit-mail,
.edit-user,
.edit-pass,
.edit-phone {
     color: #fff;
     position: fixed;
     top: 50%;
     right: 50%;
     transform: translateX(50%) translateY(-50%);
     background: rgb(0, 0, 0);
     width: 80%;
     height: 90vh;
     box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.9);
     text-align: center;
     padding: 2rem;
     display: none;
     z-index: 5;
}

.close-btn {
     position: absolute;
     top: 2%;
     left: 2%;
     width: 4rem;
     height: 4rem;
     border-radius: 50%;
     cursor: pointer;
     background: transparent;
     border: none;
     outline: none;
     background: #fff;
     z-index: 4;
     transition: 0.3s;
}

.close-btn:hover {
     transform: scale(1.1);
}

.close-btn::before {
     content: ' ';
     position: absolute;
     top: 45%;
     right: 10%;
     width: 80%;    
     height: 0.25rem;
     background: #000;
     transform: rotate(45deg);

}

.close-btn::after {
     content: ' ';
     position: absolute;
     top: 45%;
     right: 10%;
     width: 80%;    
     height: 0.25rem;
     background: #000;
     transform: rotate(-45deg);
}

.choix {
     margin: 1.5rem;
}

.choix img {
     transition: all .3s;
}

.img-choix h3,
.edit-mail h3,
.edit-user h3,
.edit-pass h3,
.edit-phone h3  {
     font-size: 2rem;
     margin: 2rem;
     color: #fff;
}

.choix img:hover,
.choix:checked,
.image-profil img:hover  {
     box-shadow: 3px 3px 10px #af8fec;
     filter: contrast(80%);
}

[type=radio] { 
     position: absolute;
     opacity: 0;
     width: 0;
     height: 0;
     margin: 1rem;
   }

[type=radio]:checked + img {
    outline: 2px solid rgb(246, 231, 255);
     filter: saturate(250%);
     box-shadow: 3px 3px 10px #af8fec;
   }

.img-choix img {
     width: 15%;
     margin-top: 3rem;
}

.edit {
     width: 25px;
     margin-left: 1rem;
     cursor: pointer;
     transition: 0.3s;
}

.edit:hover {
    transform: scale(1.1);
}

 .edit-mail input,
 .edit-user input, 
 .edit-pass input,
 .edit-phone input {
     margin: 3rem;
}

.detail-tournoi {
     width: 40%;
}

@media (max-width: 1250px) {
     .anim {
         left: -30%;
     }

     .losange h2 {
          font-size: 2.5rem;
     }

     .message h3:hover {
          transform: scale(1.1) skew(5deg) rotate(-1deg);
          text-shadow: -3px 10px 15px rgba(0, 0, 0, 0.8);
     }

     .logo {
          height: 15vh;
          top: 15%;
          left: 5%;
     }
}

   @media (max-width: 992px) {
     .anim {
          left: -50%;
      }

      .separation h3 {
          font-size: 2rem;
     }

     .login .flex {
          display: block;
     }

     .logo {
          transform: scale(1.5);
     }

     .inscription .flex {
          display: block;
     }

     .main-form {
          margin-top: 3rem;
          height: 105vh;
     }

     .form-inscription {
          height: 85vh;
          top: 15%;
     }

     #chx-img {
          width: 70%;
          margin-bottom: 1rem;
     }

     .img-choix img {
          width: 20%;
     }

   }

   @media (max-width: 768px) {

     .anim {
          left: -100%;
          transform: scale(0.3);
      }

      .container {
          top: 0;
          width: 80vw;
      }

      .login h2,
     .statistique h2 {
     font-size: 2rem;
     margin: 2rem;
     }

     .logo {
          transform: scale(2) translateX(15%);
     }

     .form-inscription {
          height: 90vh;
          top: 15%;
     }

     .profil .flex {
          flex-wrap: wrap;
     }

     .detail-tournoi {
          width: 70%;
     }

     .img-choix h3,
     .edit-mail h3,
     .edit-user h3,
     .edit-pass h3,
     .edit-phone h3  {
     font-size: 1.5rem;
   }

   .img-choix img {
     width: 25%;
}

}

   @media (max-width: 600px) {
     .details h3::before,
     .details h3::after {
          display: none;
     } 

     .anim {
          left: -150%;
      }

     .statistique {
          background: transparent;
     }

     .separation h3 {
          font-size: 1.5rem;
     }

     .input {
     
          width: 10em;
          margin: 0.2rem;
          padding:  0.2em;
     }

     .main-form {
          height: 100vh;
     }

     .form-inscription {
          height: 80vh;
          top: 17%;
     }

     .submit {
          margin-left: 25px;
     }    

   }

   @media (max-width: 450px) {

     .anim {
          left: -210%;
      }

     .main-form {
          height: 130vh;
     }

     .form-inscription {
          height: 102vh;
     }
   }